{% load bulma_tags %}

<div class="modal" id="create-group-modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <div class="box">
            <h3 class="title mb-6 has-text-centered">Створити нову групу</h3>
            <form method="post" action="{% url 'user_profile:create_group' %}">
                {% csrf_token %}

                {% bulma_form form %}

                <div class="buttons is-right">
                    <button type="button" class="button close-modal is-outlined is-danger">Закрити</button>
                    <button type="submit" class="button is-primary ajax-modal">Створити</button>
                </div>

            </form>
        </div>
    </div>
</div>
