{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Fun queue</title>

    <link rel="stylesheet" href="{% static 'css/bulma.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animista.css' %}">
    <link rel="stylesheet" href="{% static 'css/animista.min.css' %}">
    {% block css %}{% endblock css %}
</head>
<body>
    <h1>test</h1>

    {% block content %}{% endblock content %}

    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/modals.js' %}"></script>
    {% block js %}{% endblock js %}
</body>
</html>
